@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
    --primary: #8C2828;
    --dark: #000;
    --white: #fff;
    --box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
    --text-shadow: 0px 0px 0px #F4EBFF, 0px 1px 2px rgba(16, 24, 40, 0.05);

    --multiplier-3840: 2.50;
    --multiplier-2560: 1.45;
    --multiplier-1600: 0.90;
    --multiplier-1440: 0.85;
    --multiplier-1366: 0.80;
    --multiplier-1280: 0.75;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0,0.2);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

body {
    margin: 0;
    padding: 0;
    background: #F6F6F6;
    font-family: 'Work Sans';
    box-sizing: border-box;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.heading1 {
    font-style: normal;
    font-size: 30px;
    line-height: 35px;
}

.paragraph1 {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.paragraph2 {
    font-style: normal;
    font-size: 14px;
    line-height: normal;
}

.primary-btn {
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--primary);
    border: none;
    outline: none;
    color: var(--white);
    box-sizing: border-box;
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

.secondary-btn {
    width: 100%;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: transparent;
    border: 1px solid var(--dark);
    color: var(--dark);
    box-sizing: border-box;

    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.primary-btn-small {
    width: 145px;
    height: auto;
    min-height: 54px;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--primary);
    border: none;
    outline: none;
    color: var(--white);
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    box-sizing: border-box;
}

.secondary-btn-small {
    width: 145px;
    height: auto;
    min-height: 54px;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: transparent;
    border: 1px solid var(--dark);
    color: var(--dark);
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    box-sizing: border-box;
}

/* @media screen and ((min-width:2561px) and (max-width:3840px)) {
    .heading1 {
        font-size: calc(30px * var(--multiplier-3840));
        line-height: calc(35px * var(--multiplier-3840));
    }
    
    .paragraph1 {
        font-size: calc(16px * var(--multiplier-3840));
        line-height: calc(24px * var(--multiplier-3840));
    }
    
    .paragraph2 {
        font-size: calc(14px * var(--multiplier-3840));
    }
    
    .primary-btn,
    .secondary-btn,
    .primary-btn-small,
    .secondary-btn-small {
        padding: calc(15px * var(--multiplier-3840)) calc(5px * var(--multiplier-3840));
        border-radius: calc(10px * var(--multiplier-3840));
        font-size: calc(16px * var(--multiplier-3840));
        font-weight: 500;
        line-height: calc(24px * var(--multiplier-3840));
    }

    .primary-btn-small,
    .secondary-btn-small {
        width: calc(145px * var(--multiplier-3840));
        min-height: calc(54px * var(--multiplier-3840));
    }
} */

@media screen and ((min-width:1921px) and (max-width:2560px)) {
    .heading1 {
        font-size: calc(30px * var(--multiplier-2560));
        line-height: calc(35px * var(--multiplier-2560));
    }
    
    .paragraph1 {
        font-size: calc(16px * var(--multiplier-2560));
        line-height: calc(24px * var(--multiplier-2560));
    }
    
    .paragraph2 {
        font-size: calc(14px * var(--multiplier-2560));
    }
    
    .primary-btn,
    .secondary-btn,
    .primary-btn-small,
    .secondary-btn-small {
        padding: calc(15px * var(--multiplier-2560)) calc(5px * var(--multiplier-2560));
        border-radius: calc(10px * var(--multiplier-2560));
        font-size: calc(16px * var(--multiplier-2560));
        font-weight: 500;
        line-height: calc(24px * var(--multiplier-2560));
    }

    .primary-btn-small,
    .secondary-btn-small {
        width: calc(145px * var(--multiplier-2560));
        min-height: calc(54px * var(--multiplier-2560));
    }
}

@media screen and (max-width:1600px) {
    .heading1 {
        font-size: calc(30px * var(--multiplier-1600));
        line-height: calc(35px * var(--multiplier-1600));
    }
    
    .paragraph1 {
        font-size: calc(16px * var(--multiplier-1600));
        line-height: calc(24px * var(--multiplier-1600));
    }
    
    .paragraph2 {
        font-size: calc(14px * var(--multiplier-1600));
    }
    
    .primary-btn,
    .secondary-btn,
    .primary-btn-small,
    .secondary-btn-small {
        padding: calc(15px * var(--multiplier-1600)) calc(5px * var(--multiplier-1600));
        border-radius: calc(10px * var(--multiplier-1600));
        font-size: calc(16px * var(--multiplier-1600));
        font-weight: 500;
        line-height: calc(24px * var(--multiplier-1600));
    }

    .primary-btn-small,
    .secondary-btn-small {
        width: calc(145px * var(--multiplier-1600));
        min-height: calc(54px * var(--multiplier-1600));
    }
}

@media screen and (max-width:1440px) {
    .heading1 {
        font-size: calc(30px * var(--multiplier-1440));
        line-height: calc(35px * var(--multiplier-1440));
    }
    
    .paragraph1 {
        font-size: calc(16px * var(--multiplier-1440));
        line-height: calc(24px * var(--multiplier-1440));
    }
    
    .paragraph2 {
        font-size: calc(14px * var(--multiplier-1440));
    }
    
    .primary-btn,
    .secondary-btn,
    .primary-btn-small,
    .secondary-btn-small {
        padding: calc(15px * var(--multiplier-1440)) calc(5px * var(--multiplier-1440));
        border-radius: calc(10px * var(--multiplier-1440));
        font-size: calc(16px * var(--multiplier-1440));
        font-weight: 500;
        line-height: calc(24px * var(--multiplier-1440));
    }

    .primary-btn-small,
    .secondary-btn-small {
        width: calc(145px * var(--multiplier-1440));
        min-height: calc(54px * var(--multiplier-1440));
    }
}

@media screen and (max-width:1366px) {
    .heading1 {
        font-size: calc(30px * var(--multiplier-1366));
        line-height: calc(35px * var(--multiplier-1366));
    }
    
    .paragraph1 {
        font-size: calc(16px * var(--multiplier-1366));
        line-height: calc(24px * var(--multiplier-1366));
    }
    
    .paragraph2 {
        font-size: calc(14px * var(--multiplier-1366));
    }
    
    .primary-btn,
    .secondary-btn,
    .primary-btn-small,
    .secondary-btn-small {
        padding: calc(15px * var(--multiplier-1366)) calc(5px * var(--multiplier-1366));
        border-radius: calc(10px * var(--multiplier-1366));
        font-size: calc(16px * var(--multiplier-1366));
        font-weight: 500;
        line-height: calc(24px * var(--multiplier-1366));
    }

    .primary-btn-small,
    .secondary-btn-small {
        width: calc(145px * var(--multiplier-1366));
        min-height: calc(54px * var(--multiplier-1366));
    }
}

@media screen and (max-width:1280px) {
    .heading1 {
        font-size: calc(30px * var(--multiplier-1280));
        line-height: calc(35px * var(--multiplier-1280));
    }
    
    .paragraph1 {
        font-size: calc(16px * var(--multiplier-1280));
        line-height: calc(24px * var(--multiplier-1280));
    }
    
    .paragraph2 {
        font-size: calc(14px * var(--multiplier-1280));
    }
    
    .primary-btn,
    .secondary-btn,
    .primary-btn-small,
    .secondary-btn-small {
        padding: calc(15px * var(--multiplier-1280)) calc(5px * var(--multiplier-1280));
        border-radius: calc(10px * var(--multiplier-1280));
        font-size: calc(16px * var(--multiplier-1280));
        font-weight: 500;
        line-height: calc(24px * var(--multiplier-1280));
    }

    .primary-btn-small,
    .secondary-btn-small {
        width: calc(145px * var(--multiplier-1280));
        min-height: calc(54px * var(--multiplier-1280));
    }
}

@media screen and (max-width:1080px) {
    .primary-btn-small,
    .secondary-btn-small {
        padding: calc(15px * var(--multiplier-1280)) 0;
        border-radius: calc(10px * var(--multiplier-1280));
        font-size: 16px;
        font-weight: 500;
        line-height: calc(24px * var(--multiplier-1280));
    }

    .primary-btn-small,
    .secondary-btn-small {
        width: calc(210px * var(--multiplier-1280));
        height: auto;
        min-height: calc(54px * var(--multiplier-1280));
    }
}

/* Media query for mobile screens */
@media (max-width: 480px) {
    .primary-btn-small,
    .secondary-btn-small {
      width: calc(50% - 10px); /* Show 2 buttons per row */
    }
  }
  
  /* Media query for tablet screens */
  @media (min-width: 481px) and (max-width: 768px) {
    .primary-btn-small,
    .secondary-btn-small {
      width: calc(50% - 10px); /* Show 2 buttons per row */
    }
  }
  
  /* Media query for screens wider than a certain size (e.g., laptops) */
  @media (min-width: 769px) {
    .primary-btn-small,
    .secondary-btn-small {
      width: calc(25% - 10px); /* Show 4 buttons per row */
    }
  }

@media screen and (max-width:772px) {
    .primary-btn-small,
    .secondary-btn-small {
        padding: calc(15px * var(--multiplier-1280)) 0;
        border-radius: calc(10px * var(--multiplier-1280));
        font-size: 16px;
        font-weight: 500;
        line-height: calc(24px * var(--multiplier-1280));
    }

    /* .primary-btn-small,
    .secondary-btn-small {
        width: calc(210px * var(--multiplier-1280));
        height: auto;
        min-height: calc(54px * var(--multiplier-1280));
    } */
}

@media screen and (max-width:461px) {
    /* .primary-btn-small,
    .secondary-btn-small {
        width: calc(145px * var(--multiplier-1280));
        height: auto;
        min-height: calc(54px * var(--multiplier-1280));
    } */
}


