@import url('../assets/css/root.css');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: auto;
    height: 90px;
    padding: 0px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    width: 260.556px;
    height: 35px;
    flex-shrink: 0;
    background-repeat: no-repeat;
}

.logout {
    width: 127px;
    height: 50px;
}

.logout-logo {
    width: 32px;
    height: 32px;
}

.main {
    padding: 20px;
    height: auto;
    background-color: #E57D03;
}

.container {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.inner-container {
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px;
}

.section1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button1 {
    width: 539px;
    height: 115px;
    padding: 47px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    color: var(--white);
    box-sizing: border-box;
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    border-radius: 40px;
    background: #8C2828;
}

.button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.text {
    color: var(--White, #FFF);
    font-family: 'Work Sans';
    font-size: 57.857px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.left-content {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section2 {
    width: 100%;
    height: auto;
    border-radius: 30px;
    border: 1px solid #363636;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.section-heading {
    color: var(--Dark, #000);
    font-family: 'Work Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.button-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.primary-btn {
    width: 100%;
    min-width: 250px;
    max-width: 425px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--primary);
    border: none;
    outline: none;
    color: var(--white);
    box-sizing: border-box;
    font-family: 'Work Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

}

.button-section {
    width: 100% !important;
    min-width: 250px;
    max-width: 466px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.section3-card-location {
    width: 30%;
    height: auto;
    border-radius: 30px;
    border: 1px solid #363636;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.section3-card-emergency {
    width: 70%;
    height: auto;
    border-radius: 30px;
    border: 1px solid #363636;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.location {
    width: 90%;
    height: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    overflow-y: auto;
}

.address {
    color: var(--Dark, #000);
    text-align: justify;
    font-family: 'Work Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    hyphens: auto;
}

.emergency-text {
    width: 90%;
    height: 100px;
    overflow-y: auto;
    text-align: justify;

    color: var(--Dark, #000);
    font-family: 'Work Sans';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    hyphens: auto;
    padding-right: 10px;
}

.bottom-text {
    margin-bottom: 23px;
    padding: 0px 10px;
    bottom: 0;
    text-align: center;
    font-weight: 600;
}

/* @media screen and (min-width:1921px) and (max-width:2560px) {
    .header {
        height: calc(90px * var(--multiplier-2560));
        padding: 0 calc(50px * var(--multiplier-2560)) 0 calc(50px * var(--multiplier-2560));
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
    }
    
    .logo {
        width: calc(260.556px * var(--multiplier-2560));
        height: calc(35px * var(--multiplier-2560));
    }
    
    .logout {
        width: calc(127px * var(--multiplier-2560));
        height: calc(50px * var(--multiplier-2560));
    }
    
    .logout-logo {
        width: calc(32px * var(--multiplier-2560));
        height: calc(32px * var(--multiplier-2560));
    }
    
    .main {
        padding: calc(20px * var(--multiplier-2560));
    }
    
    .inner-container {   
        gap: calc(20px * var(--multiplier-2560));
        margin: calc(20px * var(--multiplier-2560));
    }
    
    .section1 {
        height: calc(100px * var(--multiplier-2560));
    }
    
    .button1 {
        width: calc(539px * var(--multiplier-2560));
        height: calc(100px * var(--multiplier-2560));
        padding: calc(47px * var(--multiplier-2560)) auto;
        font-size: calc(16px * var(--multiplier-2560));
        line-height: calc(24px * var(--multiplier-2560));
        border-radius: calc(40px * var(--multiplier-2560));
    }
    
    .button-text {
        gap: calc(11px * var(--multiplier-2560));
    }
    
    .text {
        font-size: calc(57.857px * var(--multiplier-2560));
    }
    
    .right-content {
        gap: calc(10px * var(--multiplier-2560));
    }
    
    .section2 {
        border-radius: calc(30px * var(--multiplier-2560));
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(15px * var(--multiplier-2560));
        padding: calc(10.5px * var(--multiplier-2560)) 0;
    }
    
    .section-heading {
        font-size: calc(30px * var(--multiplier-2560));
    }
    
    .button-group {
        gap: calc(20px * var(--multiplier-2560));
    }
    
    .primary-btn {
        min-width: calc(250px * var(--multiplier-2560));
        max-width: calc(375px * var(--multiplier-2560));
        padding: calc(20px * var(--multiplier-2560)) 0px;
        border-radius: calc(10px * var(--multiplier-2560));
        font-size: calc(35px * var(--multiplier-2560));
        line-height: calc(24px * var(--multiplier-2560));
    }

    .button-section {
        min-width: calc(250px * var(--multiplier-2560));
        max-width: calc(466px * var(--multiplier-2560));
    }
    
    .section3 {
        gap: calc(20px * var(--multiplier-2560));
    }

    .section3-card-location {
        border-radius: calc(30px * var(--multiplier-2560));
        border: 1px solid #363636;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(20px * var(--multiplier-2560));
        padding: calc(20px * var(--multiplier-2560)) 0;
    }
    
    .section3-card-emergency {
        border-radius: calc(30px * var(--multiplier-2560));
        border: 1px solid #363636;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(20px * var(--multiplier-2560));
        padding: calc(20px * var(--multiplier-2560)) 0;
    }
    
    .location {
        gap: calc(20px * var(--multiplier-2560));
        padding-bottom: calc(38px * var(--multiplier-2560));
        height: calc(170px * var(--multiplier-2560));
    }
    
    .address {
        font-size: calc(25px * var(--multiplier-2560));
    }
    
    .emergency-text {
        font-size: calc(25px * var(--multiplier-2560));
        height: calc(170px * var(--multiplier-2560));
    }
    
    .bottom-text {
        margin-bottom: calc(23px * var(--multiplier-2560));
        padding: 0px calc(10px * var(--multiplier-2560));
    }
}

@media screen and (max-width:1600px) {
    .header {
        height: calc(90px * var(--multiplier-1600));
        padding: 0 calc(50px * var(--multiplier-1600)) 0 calc(50px * var(--multiplier-1600));
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
    }
    
    .logo {
        width: calc(260.556px * var(--multiplier-1600));
        height: calc(35px * var(--multiplier-1600));
    }
    
    .logout {
        width: calc(127px * var(--multiplier-1600));
        height: calc(50px * var(--multiplier-1600));
    }
    
    .logout-logo {
        width: calc(32px * var(--multiplier-1600));
        height: calc(32px * var(--multiplier-1600));
    }
    
    .main {
        padding: calc(20px * var(--multiplier-1600));
    }
    
    .inner-container {   
        gap: calc(21px * var(--multiplier-1600));
        margin: calc(20px * var(--multiplier-1600));
    }
    
    .section1 {
        height: calc(100px * var(--multiplier-1600));
    }
    
    .button1 {
        width: calc(539px * var(--multiplier-1600));
        height: calc(100px * var(--multiplier-1600));
        padding: calc(47px * var(--multiplier-1600)) auto;
        font-size: calc(16px * var(--multiplier-1600));
        line-height: calc(24px * var(--multiplier-1600));
        border-radius: calc(40px * var(--multiplier-1600));
    }
    
    .button-text {
        gap: calc(11px * var(--multiplier-1600));
    }
    
    .text {
        font-size: calc(57.857px * var(--multiplier-1600));
    }
    
    .right-content {
        gap: calc(10px * var(--multiplier-1600));
    }
    
    .section2 {
        border-radius: calc(30px * var(--multiplier-1600));
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(15px * var(--multiplier-1600));
        padding: calc(10.5px * var(--multiplier-1600)) 0;
    }
    
    .section-heading {
        font-size: calc(30px * var(--multiplier-1600));
    }
    
    .button-group {
        gap: calc(20px * var(--multiplier-1600));
    }
    
    .primary-btn {
        min-width: calc(250px * var(--multiplier-1600));
        max-width: calc(375px * var(--multiplier-1600));
        padding: calc(20px * var(--multiplier-1600)) 0px;
        border-radius: calc(10px * var(--multiplier-1600));
        font-size: calc(35px * var(--multiplier-1600));
        line-height: calc(24px * var(--multiplier-1600));
    }

    .button-section {
        min-width: calc(250px * var(--multiplier-1600));
        max-width: calc(466px * var(--multiplier-1600));
    }
    
    .section3 {
        gap: calc(20px * var(--multiplier-1600));
    }

    .section3-card-location {
        border-radius: calc(30px * var(--multiplier-1600));
        border: 1px solid #363636;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(20px * var(--multiplier-1600));
        padding: calc(20px * var(--multiplier-1600)) 0;
    }
    
    .section3-card-emergency {
        border-radius: calc(30px * var(--multiplier-1600));
        border: 1px solid #363636;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(20px * var(--multiplier-1600));
        padding: calc(20px * var(--multiplier-1600)) 0;
    }
    
    .location {
        gap: calc(20px * var(--multiplier-1600));
        padding-bottom: calc(38px * var(--multiplier-1600));
        height: calc(170px * var(--multiplier-1600));
    }
    
    .address {
        font-size: calc(25px * var(--multiplier-1600));
    }
    
    .emergency-text {
        font-size: calc(25px * var(--multiplier-1600));
        height: calc(170px * var(--multiplier-1600));
    }
    
    .bottom-text {
        margin-bottom: calc(23px * var(--multiplier-1600));
        padding: 0px calc(10px * var(--multiplier-1600));
    }
} */

@media screen and (min-width:1440px) and (max-width:1918px) {
    .header {
        height: calc(90px * var(--multiplier-1440));
        padding: 0 calc(50px * var(--multiplier-1440)) 0 calc(50px * var(--multiplier-1440));
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
    }
    
    .logo {
        width: calc(260.556px * var(--multiplier-1440));
        height: calc(35px * var(--multiplier-1440));
    }
    
    .logout {
        width: calc(127px * var(--multiplier-1440));
        height: calc(50px * var(--multiplier-1440));
    }
    
    .logout-logo {
        width: calc(32px * var(--multiplier-1440));
        height: calc(32px * var(--multiplier-1440));
    }
    
    .main {
        padding: calc(20px * var(--multiplier-1440));
    }
    
    .inner-container {   
        gap: calc(25px * var(--multiplier-1440));
        margin: calc(15px * var(--multiplier-1440));
    }
    
    .section1 {
        height: calc(100px * var(--multiplier-1440));
    }
    
    .button1 {
        width: calc(539px * var(--multiplier-1440));
        height: calc(100px * var(--multiplier-1440));
        padding: calc(47px * var(--multiplier-1440)) auto;
        font-size: calc(16px * var(--multiplier-1440));
        line-height: calc(24px * var(--multiplier-1440));
        border-radius: calc(40px * var(--multiplier-1440));
    }
    
    .button-text {
        gap: calc(11px * var(--multiplier-1440));
    }
    
    .text {
        font-size: calc(57.857px * var(--multiplier-1440));
    }
    
    .right-content {
        gap: calc(10px * var(--multiplier-1440));
    }
    
    .section2 {
        border-radius: calc(30px * var(--multiplier-1440));
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(18px * var(--multiplier-1440));
        padding: calc(16px * var(--multiplier-1440)) 0;
    }
    
    .section-heading {
        font-size: calc(28px * var(--multiplier-1440));
    }
    
    .button-group {
        gap: calc(20px * var(--multiplier-1440));
    }
    
    .primary-btn {
        min-width: calc(250px * var(--multiplier-1440));
        max-width: calc(375px * var(--multiplier-1440));
        padding: calc(15px * var(--multiplier-1440)) 0px;
        border-radius: calc(10px * var(--multiplier-1440));
        font-size: calc(35px * var(--multiplier-1440));
        line-height: calc(24px * var(--multiplier-1440));
    }

    .button-section {
        min-width: calc(250px * var(--multiplier-1440));
        max-width: calc(466px * var(--multiplier-1440));
    }
    
    .section3 {
        gap: calc(20px * var(--multiplier-1440));
    }

    .section3-card-location {
        border-radius: calc(30px * var(--multiplier-1440));
        border: 1px solid #363636;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(10px * var(--multiplier-1440));
        padding: calc(20px * var(--multiplier-1440)) 0;
    }
    
    .section3-card-emergency {
        border-radius: calc(30px * var(--multiplier-1440));
        border: 1px solid #363636;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(10px * var(--multiplier-1440));
        padding: calc(20px * var(--multiplier-1440)) 0;
    }
    
    .location {
        gap: calc(20px * var(--multiplier-1440));
        /* padding-bottom: calc(38px * var(--multiplier-1440)); */
        height: calc(100px * var(--multiplier-1440));
    }
    
    .address {
        font-size: calc(22px * var(--multiplier-1440));
    }
    
    .emergency-text {
        font-size: calc(22px * var(--multiplier-1440));
        height: calc(100px * var(--multiplier-1440));
    }
    
    .bottom-text {
        margin-top: calc(10px * var(--multiplier-1440));
        margin-bottom: calc(23px * var(--multiplier-1440));
        padding: 0px calc(10px * var(--multiplier-1440));
    }
}

@media screen and (max-width:1366px) {
    .header {
        height: calc(90px * var(--multiplier-1366));
        padding: 0 calc(50px * var(--multiplier-1366)) 0 calc(50px * var(--multiplier-1366));
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
    }
    
    .logo {
        width: calc(260.556px * var(--multiplier-1366));
        height: calc(35px * var(--multiplier-1366));
    }
    
    .logout {
        width: calc(127px * var(--multiplier-1366));
        height: calc(50px * var(--multiplier-1366));
    }
    
    .logout-logo {
        width: calc(32px * var(--multiplier-1366));
        height: calc(32px * var(--multiplier-1366));
    }
    
    .main {
        padding: calc(20px * var(--multiplier-1366));
    }
    
    .inner-container {   
        gap: calc(15px * var(--multiplier-1366));
        margin: calc(15px * var(--multiplier-1366));
    }
    
    .section1 {
        height: calc(90px * var(--multiplier-1366));
    }
    
    .button1 {
        width: calc(539px * var(--multiplier-1366));
        height: calc(90px * var(--multiplier-1366));
        padding: calc(47px * var(--multiplier-1366)) auto;
        font-size: calc(16px * var(--multiplier-1366));
        line-height: calc(24px * var(--multiplier-1366));
        border-radius: calc(40px * var(--multiplier-1366));
    }
    
    .button-text {
        gap: calc(11px * var(--multiplier-1366));
    }
    
    .text {
        font-size: calc(57.857px * var(--multiplier-1366));
    }
    
    .right-content {
        gap: calc(10px * var(--multiplier-1366));
    }
    
    .section2 {
        border-radius: calc(30px * var(--multiplier-1366));
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(10px * var(--multiplier-1366));
        padding: calc(10.5px * var(--multiplier-1366)) 0;
    }
    
    .section-heading {
        font-size: calc(28px * var(--multiplier-1366));
    }
    
    .button-group {
        gap: calc(20px * var(--multiplier-1366));
    }
    
    .primary-btn {
        min-width: calc(250px * var(--multiplier-1366));
        max-width: calc(375px * var(--multiplier-1366));
        padding: calc(16px * var(--multiplier-1366)) 0px;
        border-radius: calc(10px * var(--multiplier-1366));
        font-size: calc(24px * var(--multiplier-1366));
        line-height: calc(24px * var(--multiplier-1366));
    }

    .button-section {
        min-width: calc(250px * var(--multiplier-1366));
        max-width: calc(466px * var(--multiplier-1366));
    }
    
    .section3 {
        gap: calc(20px * var(--multiplier-1366));
    }

    .section3-card-location {
        border-radius: calc(30px * var(--multiplier-1366));
        border: 1px solid #363636;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(10px * var(--multiplier-1366));
        padding: calc(15px * var(--multiplier-1366)) 0;
    }
    
    .section3-card-emergency {
        border-radius: calc(30px * var(--multiplier-1366));
        border: 1px solid #363636;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(10px * var(--multiplier-1366));
        padding: calc(15px * var(--multiplier-1366)) 0;
    }
    
    .location {
        gap: calc(20px * var(--multiplier-1366));
        /* padding-bottom: calc(38px * var(--multiplier-1366)); */
        height: calc(100px * var(--multiplier-1366));
    }
    
    .address {
        font-size: calc(22px * var(--multiplier-1366));
    }
    
    .emergency-text {
        font-size: calc(22px * var(--multiplier-1366));
        height: calc(100px * var(--multiplier-1366));
    }
    
    .bottom-text {
        margin-bottom: calc(23px * var(--multiplier-1366));
        padding: 0px calc(10px * var(--multiplier-1366));
    }
}

@media screen and (max-width:1280px) {
    .header {
        height: calc(90px * var(--multiplier-1280));
        padding: 0 calc(50px * var(--multiplier-1280)) 0 calc(50px * var(--multiplier-1280));
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
    }
    
    .logo {
        width: calc(260.556px * var(--multiplier-1280));
        height: calc(35px * var(--multiplier-1280));
    }
    
    .logout {
        width: calc(127px * var(--multiplier-1280));
        height: calc(50px * var(--multiplier-1280));
    }
    
    .logout-logo {
        width: calc(32px * var(--multiplier-1280));
        height: calc(32px * var(--multiplier-1280));
    }
    
    .main {
        padding: calc(20px * var(--multiplier-1280));
    }
    
    .inner-container {   
        gap: calc(30px * var(--multiplier-1280));
        margin: calc(20px * var(--multiplier-1280));
    }
    
    .section1 {
        height: calc(100px * var(--multiplier-1280));
    }
    
    .button1 {
        width: calc(539px * var(--multiplier-1280));
        height: calc(100px * var(--multiplier-1280));
        padding: calc(47px * var(--multiplier-1280)) auto;
        font-size: calc(16px * var(--multiplier-1280));
        line-height: calc(24px * var(--multiplier-1280));
        border-radius: calc(40px * var(--multiplier-1280));
    }
    
    .button-text {
        gap: calc(11px * var(--multiplier-1280));
    }
    
    .text {
        font-size: calc(57.857px * var(--multiplier-1280));
    }
    
    .right-content {
        gap: calc(10px * var(--multiplier-1280));
    }
    
    .section2 {
        border-radius: calc(30px * var(--multiplier-1280));
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(20px * var(--multiplier-1280));
        padding: calc(18px * var(--multiplier-1280)) 0;
    }
    
    .section-heading {
        font-size: calc(30px * var(--multiplier-1280));
    }
    
    .button-group {
        gap: calc(20px * var(--multiplier-1280));
    }
    
    .primary-btn {
        min-width: calc(250px * var(--multiplier-1280));
        max-width: calc(375px * var(--multiplier-1280));
        padding: calc(20px * var(--multiplier-1280)) 0px;
        border-radius: calc(10px * var(--multiplier-1280));
        font-size: calc(35px * var(--multiplier-1280));
        line-height: calc(24px * var(--multiplier-1280));
    }

    .button-section {
        min-width: calc(250px * var(--multiplier-1280));
        max-width: calc(466px * var(--multiplier-1280));
    }
    
    .section3 {
        gap: calc(20px * var(--multiplier-1280));
    }

    .section3-card-location {
        border-radius: calc(30px * var(--multiplier-1280));
        border: 1px solid #363636;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(20px * var(--multiplier-1280));
        padding: calc(20px * var(--multiplier-1280)) 0;
    }
    
    .section3-card-emergency {
        border-radius: calc(30px * var(--multiplier-1280));
        border: 1px solid #363636;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
        gap: calc(20px * var(--multiplier-1280));
        padding: calc(20px * var(--multiplier-1280)) 0;
    }
    
    .location {
        gap: calc(20px * var(--multiplier-1280));
        padding-bottom: calc(38px * var(--multiplier-1280));
        height: calc(170px * var(--multiplier-1280));
    }
    
    .address {
        font-size: calc(25px * var(--multiplier-1280));
    }
    
    .emergency-text {
        font-size: calc(25px * var(--multiplier-1280));
        height: calc(170px * var(--multiplier-1280));
    }
    
    .bottom-text {
        margin-bottom: calc(23px * var(--multiplier-1280));
        padding: 0px calc(10px * var(--multiplier-1280));
    }
}

@media screen and(min-width:502px) and  (max-width:1024px) {
    .primary-btn {
        width: 50%;
        
    }

    .button-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:1200px) {
    .inner-container {
        width: 97%;
    }

    .section1 {
        height: calc(162px * var(--multiplier-1280));
    }
}

@media screen and (max-width:1024px) {

    .section1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
    }

    .button1 {
        width: 466px;
        height: auto;
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        color: var(--white);
        box-sizing: border-box;
        font-family: 'Work Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        border-radius: 20px;
        background: #8C2828;
    }
    
    .button-text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
    }

    .text {
        color: var(--White, #FFF);
        font-family: 'Work Sans';
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .btn-clock {
        width: 35px;
        height: 35px;
    }

    .left-content {
        display: inline-flex;
        width: 100% !important;
        margin-top: 10px;
    }
    
    .right-content {
        display: none;
        width: 100% !important;
        margin-top: 10px;
    }

    .text-clock {
        width: 30px;
        height: 30px;
    }

    .button-group {
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: column; */
    }

    .section3 {
        flex-direction: column;
    }

    .section3-card-location {
        width: 100%;
    }

    .section3-card-emergency {
        width: 100%;
    }
}

@media screen and (max-width:582px) {
    .header {
        width: auto;
        height: 90px;
        padding: 0px 20px 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--white);
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
    }

    .header-title {
        display: none;
    }

    .logout {
        width: 70px;
        height: 40px;
        display: inline-flex;
        padding: 4px 10px;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        /* border-radius: 100px;
        border: 1px solid rgba(15, 15, 15, 0.10); */
        background: var(--white);
    }

    .button1 {
        width: 250px;
        height: auto;
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        color: var(--white);
        box-sizing: border-box;
        font-family: 'Work Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        border-radius: 20px;
        background: #8C2828;
    }

    .left-content {
        margin-bottom: 10px;
        width: 100% !important;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .right-content {
        margin-top: 10px;
        width: 100% !important;
        display: none;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .primary-btn {
        max-width: 270px;
    }

    .section-heading {
        font-size: 25px;
    }

    .address {
        text-align: left;
        font-size: 20px;
    }

    .emergency-text {
        font-size: 20px;
    }
}