@import url('../assets/css/root.css');

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx {
    position: relative;
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(to left, #fff 10%, transparent 90%),
        url('../assets/image/Mask group.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    /* border: 5px solid green; */
}

/* section .imgBx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #fff 10%, transparent 90%);
    z-index: 1;
    mix-blend-mode: screen;
    
} */

/* section .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

section .contentBx {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.logo {
    width: 373.22px;
    height: 50px;
}

section .contentBx .formBx {
    width: 70%;
    border: 1px solid #C9C9C9;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.form-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: var(--dark, #000);
    font-family: 'Work Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.subtitle {
    color: var(--dark, #000);
    font-family: 'Work Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.form-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputBox {
    width: auto;
    padding: 13px 20px;
    border-radius: 8px;
    border: 1px solid rgba(15, 15, 15, 0.10);
    background: var(--white, #FFF);
    display: flex;
    align-items: center;
    gap: 15px;
}

.inputInnerBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-label {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.input {
    /* width: 100%; */
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.paragraph1 {
    color: var(--dark, #000);
    font-family: 'Work Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.rememberBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rememberme {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-button {
    display: flex;
    /* width: 80%; */
    padding: 15px 70px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: linear-gradient(90deg, #8C2828 0%, #E85E5E 100%);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--white)
}



@media screen and (max-width: 1080px) {
    section .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../assets/image/Mask group.png');
        background-repeat: no-repeat;
        background-size: cover;
        /* object-fit: cover; */
    }

    section .contentBx {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section .contentBx .formBx {
        width: 100%;
        padding: 20px;
        background-color: rgb(255 255 255 / 0.9);
        margin: 50px;
    }

    .form-header {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:582px) {
    section .contentBx {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
        /* margin: 10px; */
    }

    .logo {
        width: 200px;
        height: 30px;
    }

    section .contentBx .formBx {
        width: 80%;
        padding: 20px;
        background-color: rgb(255 255 255 / 0.9);
        margin: 50px;
        gap: 20px;
    }

    .form-header {
        margin-bottom: 5px;
    }

    .title {
        color: var(--dark, #000);
        font-family: 'Work Sans';
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
    }

    .subtitle {
        color: var(--dark, #000);
        font-family: 'Work Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .form-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .inputBox {
        width: auto;
        padding: 10px 15px;
        border-radius: 8px;
        border: 1px solid rgba(15, 15, 15, 0.10);
        background: var(--white, #FFF);
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .inputInnerBox {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .icon-input {
        width: 35px;
        height: 35px;
    }

    .input-label {
        color: rgba(0, 0, 0, 0.50);
        font-family: 'Work Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .input {
        /* width: 100%; */
        border: none;
        outline: none;
        color: rgb(0, 0, 0);
        font-family: 'Work Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .paragraph1 {
        color: var(--dark, #000);
        font-family: 'Work Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .rememberBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .rememberme {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .login-button {
        display: flex;
        /* width: 80%; */
        padding: 15px 70px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 100px;
        background: linear-gradient(90deg, #8C2828 0%, #E85E5E 100%);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        color: var(--white)
    }
}